<% title='Product List' %>
  <h1>Product List</h1>
  <% if (data.length > 0) { %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th colspan="4">Action</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(product => { %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td><%= product.price %></td>
            <td><a href="update_product/<%= product._id %>" value="edit" type="submit">Edit</a></td>
            <td><a href="delete_product/<%= product._id %>" value="delete" type="submit">Delete</a></td>
            <td><a href="generate-pdf/<%= product._id %>" value="pdf" type="submit">PDF</a></td>
            <td><a href="send_product_email/<%= product._id %>" value="mail" type="submit">Send Mail</a></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <p>No Products found.</p>
  <% } %>